<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_field', attrib: :name, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/select_field', attrib: :office_id, form: form,
                  label_txt: 'Offices',
                  collection: Office.select_collection,
                  include_blank: true,
                  selected: mdl.office_id %>
</div>
