  <tr class='<%= background %>' >
    <td class='td-pad'>
      <%= link_to item.name,
                  provider_path(item),
                  class: "td-emphasized link-hover" %>
    </td>
    <td class='td-pad td-base'><%= item.office.name %></td>
  </tr>
