<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl font-sans font-extrabold">New Provider</h1>
  <%= render "shared/form",
              mdl: @provider,
              attribs: 'providers/attribs',
              cancel_path: providers_path %>
</div>
