<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_field', attrib: :name, form: form %>
</div>

<div class="flex flex-col md:flex-row">
  <%= render 'shared/form/text_field', attrib: :servtype, form: form %>
</div>
