  <tr class='<%= background %>' >
    <td class='td-pad'>
      <%= link_to item.name,
                  service_path(item),
                  class: "td-emphasized link-hover" %>
    </td>
    <td class='td-pad td-base'><%= item.cptcode %></td>
    <td class='td-pad td-base'><%= item.servtype %></td>
  </tr>
