<div class='grid auto-rows-min grid-rows-auto'>
  <header class='row-start-1'>
    <h1 class="mb-2 text-2xl font-sans font-bold">Service Detail</h1>
  </header>

  <div class='row-start-2 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @service.name, label: 'Name'
    %>
  </div>

  <div class='row-start-3 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @service.servtype, label: 'Type'
    %>
  </div>
</div>
