<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl font-sans font-extrabold">Edit Service</h1>
  <%= render "shared/form",
              mdl: @service,
              attribs: 'services/attribs',
              cancel_path: services_path %>
</div>
