<header class="flex flex-row justify-around">
  <div>
    <h2 id="new_contact_modal_title" class="mb-4 font-sans font-bold text-xl">
      <%= title %>
    </h2>
  </div>

  <div>
    <form method="dialog">
      <button id='contact_close'
              aria-label="contact_close"
              class='btn-shape-thin btn-gray btn-text'
              formnovalidate>
            Close
      </button>
    </form>
  </div>
</header>
