<div class='grid auto-rows-min grid-rows-auto'>
  <header class='row-start-1'>
    <h1 class="mb-2 text-2xl font-sans font-bold">Office Detail</h1>
  </header>

  <div class='row-start-2 h-fit mb-3'>
    <%= render "shared/show/attribs",
      attributes: [
        {attribute: @office.name,  label: 'Name'},
        {attribute: @office.ph_main, label: 'Phone'},
      ]
    %>
  </div>

  <div class='row-start-3 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @office.street1, label: 'Street1'
    %>
  </div>

  <div class='row-start-4 h-fit mb-3'>
    <%= render "shared/show/attrib_wide",
      attribute: @office.street2, label: 'Street2'
    %>
  </div>

  <div class='row-start-5 h-fit mb-3'>
    <%= render "shared/show/attribs",
      attributes: [
        {attribute: @office.city,  label: 'City'},
        {attribute: @office.state, label: 'State'},
        {attribute: @office.zip,   label: 'Zip'},
      ]
    %>
  </div>
</div>
