  <tr class='<%= background %>' >
    <td class='td-pad'>
      <%= button_to item.name,
              edit_office_path(item),
              method: :get,
              data: { turbo_stream: true },
              class: "td-emphasized link-hover" %>
    </td>
    <td class='td-pad td-base'><%= item.address %></td>
    <td class='td-pad td-base hidden xl:table-cell'><%= item.ph_main %></td>
  </tr>
