<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl font-sans font-extrabold">New Call</h1>
  <%= render "shared/form",
              mdl: @call,
              attribs: 'calls/attribs',
              cancel_path: precert_path(@call.precert_id) %>
</div>
