    <header>
      <div class='flex'>
        <div class='flex-1'>
          <h2 id="modal_title"
              class="text-2xl font-sans font-extrabold">
            <%= title %>
          </h2>
        </div>
        <div class='flex-none w-6'>
          <form method="dialog">
            <button aria-label="close">X</button>
          </form>
        </div>
      </div>
    </header>
