<header class="flex flex-row justify-around ">
  <h2 id="new_contact_modal_title" class="mb-4 font-sans font-bold text-xl">
    New Contact
  </h2>
  <form class='btn-shape-thin btn-green btn-text' method="dialog">
    <button aria-label="close">Close</button>
  </form>
</header>
