<%= turbo_frame_tag "remote_modal" do %>
    <dialog id="new_contact_modal" 
            aria-labelledby="new_contact_modal_title"
            aria-hidden="true"
            data-controller="remote-modal" 
            data-action="turbo:before-render@document->remote-modal#hideBeforeRender">

        <div  id="modal_content"
              role="document"
              class="modal-content">
            
          <div class="modal-header">
            <h4 id="newItemRemoteModalLabel"
                class="modal-title" >
              <%= title || 'Dummy Title' %>
            </h4>
            <button type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal" 
                    aria-label="Close">
            </button>
          </div>

          <div id="remote_modal_body" class="modal-body remote_modal_body">
            <%= render 'contacts/form/form', contact: @contact %>
          </div>
            
        </div>

    </dialog>
<% end %>
