  <tr class='<%= background %>' >
    <td class='td-pad td-base'>
      <%= link_to contact.date_of_contact,
              edit_precert_contact_path(contact.precert, contact),
              class: "td-emphasized link-hover",
              data: { turbo_stream: true } %>
    </td>

    <td class='td-pad td-base hidden xl:table-cell'><%= contact.dur_of_contact %></td>
    <td class='td-pad td-base'><%= contact.note_hint %></td>
  </tr>
