<%# app/views/precerts/contacts/edit.turbo_stream.erb %>

<%= turbo_stream.show_remote_modal do %>
  <dialog id="contact_form_modal" aria-labelledby="modal_title">
    <header>
      <h2 id="modal_title">
        Edit Contact
      </h2>
      <form method="dialog">
        <button aria-label="close">X</button>
      </form>
    </header>

    <%= render 'contacts/form/form', contact: @contact %>
  </dialog>
<% end %>
