  <tr class='<%= background %>' >
    <td class='td-pad'>
      <%= link_to item.name,
              edit_insurer_path(item),
              class: "td-emphasized link-hover",
              data: { turbo_stream: true } %>
    </td>
  </tr>
