<div class="flex flex-col items-center justify-center">
  <h1 class="text-2xl font-sans font-extrabold">Edit Insurer</h1>
  <%= render "shared/form",
              mdl: @insurer,
              attribs: 'insurers/attribs',
              cancel_path: insurers_path %>
</div>
