<%# app/views/precerts/peer2peers/edit.turbo_stream.erb %>

<%= turbo_stream.show_remote_modal do %>
  <dialog id="peer2peer_form_modal" aria-labelledby="modal_title">
    <header>
      <h2 id="modal_title">
        Edit Peer-to-Peer
      </h2>
      <form method="dialog">
        <button aria-label="close">X</button>
      </form>
    </header>

    <%= render 'precerts/peer2peers/form',
                precert: @peer2peer.precert,
                peer2peer: @peer2peer,
                method: :patch %>
  </dialog>
<% end %>
