<div class="flex flex-row mt-4">
  <div class="w-max checkbox">
    <%= form.check_box(attrib, class: 'ring shadow-sm') %>
  </div>

  <div class='w-max hover:bg-blue-100'>
    <% label ||= attrib.name.humanize %>
    <% lblfor = "#{resource_name}_#{attrib.name}"  %>
    <%= render 'shared/form/label', lblfor: lblfor, lbltxt: label %>
  </div>
</div>
