<div class='mx-4 mb-5 w-48'>
  <%= form.label attrib, style: 'display: block', class:'form-field-label' %>
  <%= form.date_field attrib,
                max: Date.today,
                class: 'block w-11/12 mt-2 p-3 text-gray-900 font-medium rounded-md border-0 shadow ring placeholder:text-gray-400' %>
</div>
