  <div class="mx-4 mb-5 min-w-0">
    <%= form.label attrib,
          style: "display: block",
          class:'form-field-label' %>
    <%= form.text_field attrib,
          class: 'base-field ring' %>
  </div>
