<header data-controller="navbar" data-navbar-state-value="false">
  <nav class="flex flex-wrap items-center justify-between w-full px-4 text-lg text-gray-700 bg-red-200">
    <%= render "layouts/navbar/logo" %>
    <% if current_user %>
      <%= render "layouts/navbar/hamburger" %>
      <%= render "layouts/navbar/menu" %>
    <% end %>
  </nav>
</header>
