  <div class="flex">
    <!--Website Logo-->
    <a href=<%= root_path %> class="flex items-center py-4 px-2">
      <%= image_tag("logo.png", alt: "Logo", class: 'h-8 w-8 mr-2') %>
      <span class="font-sans font-semibold text-gray-500 text-lg">Precert Info</span>
    </a>
  </div>
