<div class="absolute -top-2 self-center flex flex-col">
  <p class="text-center text-green-600 font-sans bg-transparent"><%= notice %></p>
  <p class="text-center text-red-600 font-sans bg-transparent"><%= alert %></p>  
</div>    
